*
!.gitignore


!.gitconfig

!.conkyrc

!bin
!bin/*

!.config/
!.config/awesome/
!.config/awesome/*
!.config/awesome/theme/
!.config/awesome/theme/*
!.config/awesome/theme/tasklist/
!.config/awesome/theme/tasklist/*
!.config/awesome/theme/taglist/
!.config/awesome/theme/taglist/*
!.config/awesome/theme/titlebar/
!.config/awesome/theme/titlebar/*
!.config/awesome/theme/layouts/
!.config/awesome/theme/layouts/*
!.config/awesome/wallpapers/
!.config/awesome/wallpapers/*

!.vimrc
!.vim
!.vim/*
!.vim/**/*

!.fonts
!.fonts/**/*
